body
{
    font-family: Arial;
    margin: 0;
}
header
{
    color: white;
    padding: 50px;
    text-align: right;
    background-image: url("../pics/1610898842_22-p-armeiskii-fon-dlya-prezentatsii-30.jpg");
}
header a
{
    color:white;
    background-color: black;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid white;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    margin-top: 10px;
}
header img
{
    vertical-align: middle;
    width: 30px;
    transition:1s;
}